{% extends 'base.html' %}
{% load static %}

{% block title %}Reservation{% endblock %}
{% block content %}
    <style>
        .form-button{
            background-color: #686866;
        }
        .form-button:hover{
            background-color: #5E6C5B;
            transform: scale(1.1);
        }
    </style>
    <form class="container"> 
        <div class="text-center fs-1 m-3" >Search Venues</div>

        <div class="row row-cols-md-2 gx-3 gy-5" style="color: #162A2B;">
            
            <div class="col d-flex flex-column ">
                <div class="row my-2">
                    <div class="col-4"><label for="venueName" class="form-label">Venue Name</label></div>
                    <div class="col-6"><input name="q" type="text" class="form-control border border-dark border-1" style="background-color: #F4EFE6;" id="venueName" aria-describedby="venueName"></div>
                </div>
                {% comment %}
                <div class="row my-2">
                    <div class="col-4"><label for="address" class="form-label">Address</label></div>
                    <div class="col-6"><input name="q" type="text" class="form-control border border-dark border-1" style="background-color: #F4EFE6;" id="address" aria-describedby="address"></div>
                </div>
                <div class="row my-2">
                    <div class="col-4"><label for="building" class="form-label">Building Name</label></div>
                    <div class="col-6"><input name="q" type="text" class="form-control border border-dark border-1" style="background-color: #F4EFE6;" id="building" aria-describedby="building"></div>
                </div>
                <div class="row my-2">
                    <div class="col-4"><label for="floorArea" class="form-label">Floor Area</label></div>
                    <div class="col-6"><input name="q" type="number" class="form-control border border-dark border-1" style="background-color: #F4EFE6;" id="floorArea" aria-describedby="floorArea"></div>
                </div>
                <div class="row my-2">
                    <div class="col-4"><label for="venueType" class="form-label">Venue Type</label></div>
                    <div class="col-6"><input name="q" type="text" class="form-control border border-dark border-1" style="background-color: #F4EFE6;" id="venueType" aria-describedby="venueType"></div>
                </div>
                <div class="row my-2">
                    <div class="col-4"><label for="venueCapacity" class="form-label">Venue Capacity</label></div>
                    <div class="col-6"><input name="q" type="number" class="form-control border border-dark border-1" style="background-color: #F4EFE6;" id="venueCapacity" aria-describedby="venueCapacity"></div>
                </div>
                {% endcomment %}
            </div>

            <div class="col d-flex flex-column">    
                <div class="row">
                    <div class="col-3">Under Renovation? </div>
                    <div class="form-check col-3">
                        <input class="form-check-input" type="radio" name="renovation" id="renovating" value="yes">
                        <label class="form-check-label" for="renovating">
                            Yes
                        </label>
                    </div>  
                    <div class="form-check col-3">
                        <input class="form-check-input" type="radio" name="renovation" id="notRenovating" value="no">
                        <label class="form-check-label" for="notRenovating">
                            No
                        </label>
                    </div>
                    <div class="form-check col-3">
                        <input class="form-check-input" type="radio" name="renovation" id="renovating" value="all" checked>
                        <label class="form-check-label" for="renovating">
                            All Venues
                        </label>
                    </div>
                </div>
            </div>
        </div>


        <div class="d-flex flex-row-reverse me-5 mt-3">
            <button type="submit" class="form-button btn btn-primary rounded-pill p-3 fs-5 me-4">Search</button>
        </div>
    </form>

    <div class="d-flex flex-row row my-4">
        <div class="col-5 ps-5 py-3"><hr class="border border-dark border-2 opacity-50"></div>    
        <div class="col-2 text-center fs-1"> RESULTS </div>
        <div class="col-5 pe-5 py-3"><hr class="border border-dark border-2 opacity-50"></div>    
    </div>
    
    <div class="row row-cols-md-2 gx-3 gy-5 mx-5" style="color: #162A2B;">
    {% for venue in object_list %}
        <div class="col-5 d-flex justify-content-center">
            <div style="border-radius: 25px; box-shadow: 10px 10px #B6B3AC">
                <div class="text-center fs-3 fst-italic border-dark py-1"  
                     style="background-color: #5E6C5B; color: #F3EFE6; border-radius: 25px 25px 0px 0px;">
                    <a href="{% url 'venues:venues-detail' venue.pk %}" style="color: #F3EFE6; text-decoration: none;">
                        {{ venue.venue_name }}
                    </a>
                </div>
                <div class="border border-top-0 border-dark px-4 py-3" style="background-color: #D4DBD2; border-radius: 0px 0px 25px 25px;">
                    <p><span class="fw-bold">Building: </span> {{ venue.building.building_name }}</p>
                    <p><span class="fw-bold">Address: </span>{{ venue.building.district }} {{ venue.building.street }}, {{ venue.building.city }}</p>
                    <p><span class="fw-bold">Amenities: </span> Amenity 1 • Amenity 2 • Amenity 3 • Amenity 4 • Amenity 5</p>
                    <p><span class="fw-bold">Capacity: </span> {{ venue.venue_capacity }}</p>
                    <p><span class="fw-bold">Agent: </span> {{ venue.agent.username }}</p>
                    <p><span class="fw-bold">Status: </span> 
                        {% if venue.under_renovation %}
                            Under Renovation
                        {% else %}
                            Bookable
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}    
    </div>
{% endblock %}