{% extends 'base.html' %}
{% load static %}

{% block title %}Venues List{% endblock %}
{% block content %}
    <div style="height: 200px; overflow: hidden;">
        <img src="{% static 'images/venue1.png' %}" class="img-fluid rounded" alt="Banner Image">
    </div>
    <div class="text-center fs-1 fst-italic my-4">Our Venues</div>

    <div class="row row-cols-md-2 gx-3 gy-5 mx-5" style="color: #162A2B;">

        <div class="col-5 d-flex justify-content-center">
            <div style="border-radius: 25px; box-shadow: 10px 10px #B6B3AC">
                <div class="text-center fs-3 fst-italic border-dark py-1"  style="background-color: #5E6C5B; color: #F3EFE6; border-radius: 25px 25px 0px 0px;">Venue Name 1</div>
                <div class="border border-top-0 border-dark px-4 py-3" style="background-color: #D4DBD2; border-radius: 0px 0px 25px 25px;">
                    <p><span class="fw-bold">Building: </span> Arton by Rockwell</p>
                    <p><span class="fw-bold">Address: </span> Aurora Blvd., Quezon City</p>
                    <p><span class="fw-bold">Amenities: </span> Amenity 1 • Amenity 2 • Amenity 3 • Amenity 4 • Amenity 5</p>
                    <p><span class="fw-bold">Capacity: </span> 100</p>
                    <p><span class="fw-bold">Agent: </span> Jose Rizal</p>
                    <p><span class="fw-bold">Status: </span> Reserved</p>
                </div>
            </div>
        </div>

        <div class="col-5 d-flex justify-content-center">
            <div style="border-radius: 25px; box-shadow: 10px 10px #B6B3AC">
                <div class="text-center fs-3 fst-italic border-dark py-1"  style="background-color: #5E6C5B; color: #F3EFE6; border-radius: 25px 25px 0px 0px;">Venue Name 1</div>
                <div class="border border-top-0 border-dark px-4 py-3" style="background-color: #D4DBD2; border-radius: 0px 0px 25px 25px;">
                    <p><span class="fw-bold">Building: </span> Arton by Rockwell</p>
                    <p><span class="fw-bold">Address: </span> Aurora Blvd., Quezon City</p>
                    <p><span class="fw-bold">Amenities: </span> Amenity 1 • Amenity 2 • Amenity 3 • Amenity 4 • Amenity 5</p>
                    <p><span class="fw-bold">Capacity: </span> 100</p>
                    <p><span class="fw-bold">Agent: </span> Jose Rizal</p>
                    <p><span class="fw-bold">Status: </span> Reserved</p>
                </div>
            </div>
        </div>

        <div class="col-5 d-flex justify-content-center">
            <div style="border-radius: 25px; box-shadow: 10px 10px #B6B3AC">
                <div class="text-center fs-3 fst-italic border-dark py-1"  style="background-color: #5E6C5B; color: #F3EFE6; border-radius: 25px 25px 0px 0px;">Venue Name 1</div>
                <div class="border border-top-0 border-dark px-4 py-3" style="background-color: #D4DBD2; border-radius: 0px 0px 25px 25px;">
                    <p><span class="fw-bold">Building: </span> Arton by Rockwell</p>
                    <p><span class="fw-bold">Address: </span> Aurora Blvd., Quezon City</p>
                    <p><span class="fw-bold">Amenities: </span> Amenity 1 • Amenity 2 • Amenity 3 • Amenity 4 • Amenity 5</p>
                    <p><span class="fw-bold">Capacity: </span> 100</p>
                    <p><span class="fw-bold">Agent: </span> Jose Rizal</p>
                    <p><span class="fw-bold">Status: </span> Reserved</p>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}