{% extends 'base.html' %}
{% load static %}

{% block title %}Reservation{% endblock %}
{% block content %}
    <style>
        .form-button{
            background-color: #686866;
        }
        .form-button:hover{
            background-color: #5E6C5B;
            transform: scale(1.1);
        }
    </style>

    <div class="text-center fs-1 lh-1 mt-5">Your reservation request has <br> been <span style="color: #497250;">submitted successfully!</span></div>
    <div class="text-center fs-4 fw-bold">You will receive a confirmation email once it's approved.</div>

    <div class="container p-3 border border-dark border-1" 
    style="background-color: #D2D9D1; color: #162A2B; box-shadow: 8px 8px #B6B3AC">
        <div class="text-center fs-1 fst-italic">Reservation Details</div>
        <div class="fs-4">
            <p>Venue: {{ object.venue }}</p>
            <p>Number of Participants: {{ object.number_of_participants }}</p>
            <p>Start Date & Time: {{ object.start_datetime|date:"M d, Y H:i" }}</p>
            <p>End Date & Time: {{ object.end_datetime|date:"M d, Y H:i" }}</p>
            <p>Agent: {{ object.venue.agent }}</p>
        </div>
    </div>

    <div class="d-flex flex-row-reverse me-5 mt-5">
        <a href="{% url 'main_interface:homepage' %}" class="form-button btn rounded-pill p-3 me-4 fs-5" style="color: #FDFCF7;">Back to home</a>
    </div>


{% endblock %}