<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initialize-scale=1.0">
        <title>{% block title %}StateSpaces{% endblock %}</title>
        {% block styles %} {% endblock %}
    </head>
    <body>

    <body style="margin: 0px;">
        <nav class="navbar bg-body-tertiary" style="background-color: #5E6C5B;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="TempLogo" width="120" height="60" class="d-inline-block align-text-top">
                    Temp Logo
                </a>
            </div>
        </nav>
        <h1>{% block header %}StateSpaces Header{% endblock %}</h1>

        {% if request.user.is_authenticated %}
            <h3>Welcome, {{ request.user.username }}!</h3>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <h3>Welcome!</h3>
        {% endif %}

        {% block content %} {% endblock %}
    </body>
</html>
